<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auto_Bot___Account_Creator__Astaroth_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Auto_Bot___Account_Creator__Astaroth_.Properties.Settings>
            <setting name="telegram_notifications_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="telegram_alert_id" serializeAs="String">
                <value />
            </setting>
            <setting name="telegram_api_key" serializeAs="String">
                <value />
            </setting>
            <setting name="count" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="adb_mobile_data_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gigacube_username" serializeAs="String">
                <value />
            </setting>
            <setting name="gigacube_password" serializeAs="String">
                <value />
            </setting>
            <setting name="gigacube_mobile_data_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mail_domain_randomize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gender_randomize_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mail_domain" serializeAs="String">
                <value />
            </setting>
            <setting name="firefox_profile_path" serializeAs="String">
                <value />
            </setting>
        </Auto_Bot___Account_Creator__Astaroth_.Properties.Settings>
    </userSettings>
</configuration>